.grid-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.col {
    margin: 0;
    flex-direction: row;
    flex-grow: 0;
}

.grid-component.row-gap-0 > .col {
    padding-top: 0;
}

.grid-component.row-gap-3 > .col {
    padding-top: theme('spacing.3');
}

.grid-component.row-gap-4 > .col {
    padding-top: theme('spacing.4');
}

.grid-component.row-gap-5 > .col {
    padding-top: theme('spacing.5');
}

.grid-component.column-gap-0 > .col {
    padding-left: theme('spacing.0');
}

.grid-component.column-gap-3 > .col {
    padding-left: theme('spacing.3');
}

.grid-component.column-gap-4 > .col {
    padding-left: theme('spacing.4');
}

.grid-component.column-gap-5 > .col {
    padding-left: theme('spacing.5');
} 


